---

---

<div id="header" class="bg-slate-400 flex justify-between place-items-center p-4 tracking-tighter">
    <h1 class="text-2xl font-semibold">a-pick</h1>
    <nav class="text-lg space-x-2">
        <a href="/" class="p-2 hover:font-semibold">Home</a>
        <a href="/projects" class="p-2 hover:font-semibold">Projects</a>
        <a href="/blog" class="p-2 hover:font-semibold">Blog</a>
        <a href="/contact" class="p-2 hover:font-semibold">Contact</a>
    </nav>
</div>